<!-- show.html.erb
-->
<%= cl_image_tag @article.photo, height: 300, width: 400, crop: :fill %>


<div class="cards-2">
  <div class="card-title text-center"></div>
    <div class="card-trip">
      <h1 style="color:#d3004d;"> <%= @cocktail.name %> </h1>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
        <% @cocktail.doses.each do |dose| %>
          <div class="dose-desc">
            <div>
              <%= dose.description %> <%= dose.ingredient.name %>
            </div>
            <div>
              <%= link_to "Delete dose",
                          cocktail_dose_path(@cocktail,dose.id),
                          method: :delete,
                          data: { confirm: "Are you sure?"},
                          class: "delete-button" %>
            </div>
          </div>
        <% end %>
      <div class="add-button-container">
        <%= link_to "Add dose",
                    new_cocktail_dose_path(@cocktail),
                    class: "btn btn-success" %>
      </div>
  </div>
</div>





