<h1>Add a dose</h1>

<%= simple_form_for [@cocktail, @dose], url: cocktail_doses_path, method: :post do |f|
%>
<% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit, class: "btn btn-success"%>
<% end %>
